* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background: #e0fbe2;
    padding: 0 16px;
  }
  
  .NavBar {
    display: flex;
    justify-content: space-between;
    background-color: #ace1af;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  .NavBar h1 {
    color: #fff;
    font-family: "Permanent Marker", cursive;
    font-weight: 200;
  }

  .NavBar select {
    margin-left: 10px;
  }

  .custom-select {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-color: #f8f9fa; 
    border: 1px solid #ced4da; 
    border-radius: 4px; 
    padding: 8px 12px; 
    font-size: 16px; 
    color: #495057; 
    cursor: pointer; 
  }

  .Goal {
    display: flex;
    background-color: #B0EBB4;
    margin: auto -16px;
    padding: 8px 16px;
  }

  .Goal h2 {
    color: #fff;
    font-family: "Permanent Marker", cursive;
    font-weight: 100;
    margin-right: 10px;
  }

  .Goal input {
    margin-right: 10px;
  }

  .Goal button {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 10px;
  }

  footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }

  .Progress {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }

  .Progress h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }

  .Progress p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .Progress button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
  }
  
  form {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }

  form input,
  form textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }

  form button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #ace1af;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }